<div class="container">
        <app-nav></app-nav>      
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">


            <div class="card-header">
                <h3 class="mb-0">Enregistrez un user</h3>
            </div>
            <form [formGroup]="user" (ngSubmit)="onsubmit(user.value)">                  
                  
                    <div class="form-group row col-6 col-md-push-4 offset-md-3">
                        <label for="Profil">Profil</label>
                        <div class="col">
                            <div *ngFor="let error of errorMessage.Profil">
                            <div *ngIf="user.get('Profil').hasError(error.type) &&
                                (user.get('Profil').dirty || user.get('Profil').touched)">
                                {{error.message}}
                            </div>
                        </div> 
                        <select formControlName="Profil" name="Profil" class="form-control" ngDefaultControl >
                            <option *ngFor="let P of Profils" value="{{P.id}}">{{P.Libelle}}</option>
                        </select>
                        </div>
                    </div>
                  
                    <div class="form-group">             
                        <label for="username">username</label>
                        <input type="text" formControlName = "username"  name="username" class="form-control"  id="username">
                    </div>
                    <div *ngFor="let error of errorMessage.username">
                    <div *ngIf="user.get('username').hasError(error.type) &&
                    (user.get('username').dirty || user.get('username').touched)">
                        {{error.message}}
                    </div>
                    </div>
                    <div class="form-group">                       
                        <label for="plainPassword">Password</label>
                        <input type="password" name="plainPassword"  formControlName="plainPassword"  class="form-control" id="plainPassword">
                    </div>
                    <div *ngFor="let error of errorMessage.plainPassword">
                <div *ngIf="user.get('plainPassword').hasError(error.type) &&
                 (user.get('plainPassword').dirty || user.get('plainPassword').touched)">
                    {{error.message}}
                </div>
            </div>
                    <div class="form-group">                       
                        <label for="Nom">Nom</label>          
                        <input type="text" name="Nom"  formControlName="Nom" class="form-control"  id="Nom">
                    </div>
                    <div *ngFor="let error of errorMessage.Nom">
                <div *ngIf="user.get('Nom').hasError(error.type) &&
                 (user.get('Nom').dirty || user.get('Nom').touched)">
                    {{error.message}}
                </div>
            </div>
                    <div class="form-group">                      
                        <label for="Email">Email</label>    
                        <input type="text" name="Email"   formControlName="Email" class="form-control" id="Email">
                    </div>
                    <div *ngFor="let error of errorMessage.Email">
                <div *ngIf="user.get('Email').hasError(error.type) &&
                 (user.get('Email').dirty || user.get('Email').touched)">
                    {{error.message}}
                </div>
            </div>
                    <div class="form-group">                       
                        <label for="Nci">Nci</label>          
                        <input type="text" name="Nci"   formControlName="Nci" class="form-control" id="Nci">
                    </div>
                    <div *ngFor="let error of errorMessage.Nci">
                <div *ngIf="user.get('Nci').hasError(error.type) &&
                 (user.get('Nci').dirty || user.get('Nci').touched)">
                    {{error.message}}
                </div>
            </div>
                    <div class="form-group">                       
                        <label for="Telephone">Telephone</label>
                        <input type="number" name="Telephone"  formControlName="Telephone" class="form-control"  id="Telephone">
                    </div>  
                    <div *ngFor="let error of errorMessage.Telephone">
                <div *ngIf="user.get('Telephone').hasError(error.type) &&
                 (user.get('Telephone').dirty || user.get('Telephone').touched)">
                    {{error.message}}
                </div>
            </div>
                <div class="form-group">                                                      
                    <img [src]="imageUrl" style="width: 250px; height: 200px">
                    <input type="file" #image accept="image/*" (change)= "handleFileInput($event.target.files)" >
                </div>                    
                    <div class="form-group row col-6 col-md-push-4 offset-md-3">
                        <div class="col">
                        <button type="submit" name="valider" class="btn btn-primary" [disabled]="user.valid" >AJOUTER</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
