<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Depose</h3>
            </div>
            <div >
                <form #depotForm=ngForm (ngSubmit)="onsubmit(depotForm.value)">
                    <div class="form-group">
                        <label for="Montant">Montant</label>
                        <input type="text" #Montant ngModel name="Montant" id="Montant">
                    </div>
                    <div class="form-group">
                            <label for="Entreprise">Entreprise</label>
                            <input type="text" #Entreprise ngModel name="Entreprise" id="Entreprise">
                    </div>
                   
                    
                    <button type="submit" class="btn-large btn-submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
