
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MOONAWA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
    <span class="navbar-toggler-icon"></span>
  </button>
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/entreprise" routerLinkActive="active">Entreprise</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">User</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/add-user" routerLinkActive="active">Add-User</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/add-entreprise" routerLinkActive="active">Add-Entreprise</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/depot" routerLinkActive="active">Deposer de l'argent</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/transaction" routerLinkActive="active">Transaction</a></li>

      </ul>
  </div>

</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

