<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Transaction</h3>
            </div>
            <div >
                <form #transForm=ngForm (ngSubmit)="onsubmit(transForm.value)">
                    <div class="form-group">
                        <label for="ClientEmetteur">ClientEmetteur</label>
                        <input type="text" #ClientEmetteur ngModel name="ClientEmetteur" id="ClientEmetteur">
                    </div>
                    <div class="form-group">
                            <label for="TelephoneEmetteur">TelephoneEmetteur</label>
                            <input type="text" #TelephoneEmetteur ngModel name="TelephoneEmetteur" id="TelephoneEmetteur">
                    </div>
                    <div class="form-group">
                        <label for="NciEmetteur">NciEmetteur</label>
                        <input type="text" #NciEmetteur ngModel name="NciEmetteur" id="NciEmetteur">
                    </div>
                   
                    <div class="form-group"> 
                        <label for="Montant">Montant</label>
                        <input type="text" #Montant ngModel name="Montant" id="Montant">
                    </div>
                    <div class="form-group">
                        <label for="ClientRecepteur">ClientRecepteur</label>
                        <input type="text" #ClientRecepteur ngModel name="ClientRecepteur" id="ClientRecepteur">
                    </div>
                    <div class="form-group">
                        <label for="TelephoneRecepteur">TelephoneRecepteur</label>
                        <input type="text" #TelephoneRecepteur ngModel name="TelephoneRecepteur" id="TelephoneRecepteur">
                    </div>
                   
                    <button type="submit" class="btn-large btn-submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
