<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Transaction</h3>
            </div>
            <div >
                <form #transForm=ngForm (ngSubmit)="onsubmit(transForm.value)">
                    <div class="form-group">
                        <label for="ClientEmetteur">ClientEmetteur</label>
                        <input type="text" #ClientEmetteur ngModel name="ClientEmetteur" id="ClientEmetteur">
                    </div>
                    <div class="form-group">
                            <label for="TelephoneEmetteur">TelephoneEmetteur</label>
                            <input type="text" #TelephoneEmetteur ngModel name="TelephoneEmetteur" id="TelephoneEmetteur">
                    </div>
                    <div class="form-group">
                        <label for="NciEmetteur">NciEmetteur</label>
                        <input type="text" #NciEmetteur ngModel name="NciEmetteur" id="NciEmetteur">
                    </div>
                    <div class="form-group">
                        <label for="DateEnvoi">DateEnvoi</label>
                        <input type="text" #DateEnvoi ngModel name="DateEnvoi" id="DateEnvoi">
                    </div>
                    <div class="form-group">
                        <label for="Code">Code</label>
                        <input type="text" #Code ngModel name="Code" id="Code">
                    </div>
                    <div class="form-group">
                        <label for="UserEmetteur">UserEmetteur</label>
                        <input type="text" #UserEmetteur ngModel name="UserEmetteur" id="UserEmetteur">
                    </div>
                    <div class="form-group">
                        <label for="Montant">Montant</label>
                        <input type="text" #Montant ngModel name="Montant" id="Montant">
                    </div>
                    <div class="form-group">
                        <label for="ClientRecepteur">ClientRecepteur</label>
                        <input type="text" #ClientRecepteur ngModel name="ClientRecepteur" id="ClientRecepteur">
                    </div>
                    <div class="form-group">
                        <label for="TelephoneRecepteur">TelephoneRecepteur</label>
                        <input type="text" #TelephoneRecepteur ngModel name="TelephoneRecepteur" id="TelephoneRecepteur">
                    </div>
                    <div class="form-group">
                        <label for="Frais">Frais</label>
                        <input type="text" #Frais ngModel name="Frais" id="Frais">
                    </div>
                    <div class="form-group">
                        <label for="NciRecepteur">NciRecepteur</label>
                        <input type="text" #NciRecepteur ngModel name="NciRecepteur" id="NciRecepteur">
                    </div>
                    <div class="form-group">
                        <label for="DateReception">DateReception</label>
                        <input type="text" #$DateReception ngModel name="$DateReception" id="$DateReception">
                    </div>
                    <div class="form-group">
                        <label for="UserRecepteur">UserRecepteur</label>
                        <input type="text" #UserRecepteur ngModel name="UserRecepteur" id="UserRecepteur">
                    </div>
                    <button type="submit" class="btn-large btn-submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
