<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0"> Register </h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="rs">Raison Sociale</label>
                        <input [(ngModel)]="registerEntrepriseData.rs" name="rs" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                            <label for="ninea">Ninea</label>
                            <input [(ngModel)]="registerEntrepriseData.ninea" name="ninea" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="adresse">Adresse</label>
                        <input [(ngModel)]="registerEntrepriseData.adresse" name="adresse" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="solde">Solde</label>
                        <input [(ngModel)]="registerEntrepriseData.solde" name="solde" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]="registerEntrepriseData.email" name="email" type="mail" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="tel">Telephone</label>
                        <input [(ngModel)]="registerEntrepriseData.tel" name="tel" type="text" class="form-control rounded-0" required>
                    </div>
                    <button (click)="registerEntreprise()" type="button" class="btn btn-primary float-right">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
